/* Remove black outline that appears when clicking text boxes. */
input:focus, textarea:focus, select:focus {
    outline: none; 
}

/* Styling for links. */
a {
    font-size: 14px;
    font-family: arial, sans-serif;
    color:rgb(87, 87, 87);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Styling for lists */
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    display: inline; /* Keeps list of linkes on the same line. */
    padding: 0px 10px 0px 10px;
}

/* Styling for image in header. */
.apps {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.apps:hover {
    opacity: 1; /* Changes to solid black when mouse hovers over the image. */
}

/* Styling for "sign in" link to look like a button. */
#sign-in {
    background: -webkit-gradient(top, #4387fd, #4683ea);
    background-color: #4285f4;
    padding: 5px 10px 5px 10px;
    outline: none;
    border: 1px #4285f4 solid;
    border-radius: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Centers the body of the homepage (logo and search form). */
.search-body {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%
}

/* Prevents the logo from being resized. */ 
.logo {
    max-width: 100%;
    padding: 25px
}

/* Styling for search bar. */
#search-bar {
    width: 500px;
    height: 40px;
    padding: 5px 20px 5px 20px;
    border: 1px rgb(190, 190, 190) solid;
    border-radius: 20px;
}
#search-bar:hover {
    filter:drop-shadow(0 1px 1px grey);
}

/* Centers the two buttons below search bar. */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Stylings for buttons. */ 
#google-search {
    -webkit-appearance: none;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;

    background-color: #f8f9fa;
    border: 1px #f8f9fa solid;
    border-radius: 4px;
}
#google-search:hover {
    border: 1px #b3b3b3 solid;
}

#feeling-lucky {
    -webkit-appearance: none;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;

    background-color: #f8f9fa;
    border: 1px #f8f9fa solid;
    border-radius: 4px;
}
#feeling-lucky:hover {
    border: 1px #b3b3b3 solid;
}

/* Styling for footer, with position fixed at the bottom. */
footer {
    background-color: #f2f2f2;
    border-top: 1px #dadce0 solid;
    position: fixed; 
    width: 100%; /* Retain size of footer list*/
    bottom: 0;
    left: 0;
}